
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab",sans-serif;
}

header {
  background: linear-gradient(90deg, #00b4d8, #0077b6);
  color: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header nav a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
nav{
    display: flex;
    gap: 20px;
}

header nav a:hover {
  color: #f9d71c;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

header h1 {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}


.about {
  background: #eaf7ff;
  padding: 80px 30px;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  gap: 40px;
}

.about-image img {
  width: 380px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.about-image img:hover {
  transform: scale(1.05);
}

.about-content {
  flex: 1;
  min-width: 320px;
}

.about h2 {
  font-size: 2.5rem;
  color: #0077b6;
  margin-bottom: 15px;
}

.about p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.feature {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 260px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.feature h3 {
  color: #0077b6;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.feature p {
  color: #555;
  font-size: 1rem;
}


footer {
  background: linear-gradient(90deg, #00b4d8, #0077b6);
  color: white;
  text-align: center;
  padding: 40px 20px;
  margin-top: 50px;
  font-size: 1rem;
  line-height: 1.6;
}
